<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADChat"
        tools:targetApi="31">
        <activity
            android:name=".base.activities.initialSettings.accountSettings.PasswordChangingBaseActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.accountSettings.EmailChangingBaseActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.accountSettings.AccountSettingsBaseActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.accountSettings.PasswordRestoringBaseActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.LockWoodExplainActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.MenuBaseActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.EnterInAccountActivity"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.AccountActivityBase"
            android:exported="false" />
        <activity
            android:name=".starter.activities.QuestionsUserStarter"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.QuestionsActivityBase"
            android:exported="false" />
        <activity
            android:name=".base.activities.initialSettings.WelcomeActivityBase"
            android:exported="false" />
        <activity
            android:name=".starter.activities.SettingsUsersStarter"
            android:exported="false" />
        <activity
            android:name=".starter.activities.ChangeLanguage"
            android:exported="false" />
        <activity
            android:name=".starter.activities.AdditionalSettings"
            android:exported="false" />
        <activity
            android:name=".starter.activities.PaidContent"
            android:exported="false" />
        <activity
            android:name=".starter.activities.Topic"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>